<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block content %}

      <div class="kryesore">
        <img src="{% static 'images/BG4.webp' %}" alt="">
  </div>
  <div class="mjeku my-5"> 
    <div class="row">
      <div class="col-12 col-md-5" id="mjeku">
          <img src="{% static 'images/mjeku' %}.jpg" >
      </div>
      <div class="col-12 col-md-7"> 
        <div class="row pershkrim1" >
          <h2>Dr. Gramos Shehu</h2>
          <h6>Mjek stomatolog, kirurg OMF</h6>
        </div>
        <div class="row pershkrim2">
          <p>Ka ndjekur studimet e larta te degen Stomatologi ne Universitetin e Mjekesise, Fakulteti i Mjekesise Dentare, Tirane dhe me vone ndoqi specializimin ne Kirurgji Oro-Maxillo-Facial prane spitalit Francez, QSUT "Nene Tereza".</p>
        </div>
      </div>
    </div>
  </div>
  <div class="klinika my-5"> 
    <div class="row">
      <div class="col-12 col-md-7"> 
        <div class="row pershkrim1" >
          <h2>Dentalien</h2>
        </div>
        <div class="row pershkrim2">
          <p>Klinika Dentare Dentalien është themeluar në vitin 2018 me iniciativën e Dr. Gramos Shehu.
            E liçensuar nga Ministria e Shëndetsisë konform rregullores për shëndetin oral, kjo klinike operon prej 4 vitesh në tregun shqiptar duke ofruar sherbime cilesore ne fusha te ndryshme te dentistarise.
            Klinika “Dentalien” ka si synim kryesor sigurimin e standardit më të lartë të kujdesit dentar për pacientët. Mbi bazën e këtij synimi, klinika jonë ofron shërbime dentare komplekse dhe trajton të gjitha sëmundjet e gojës. Ky shërbim bëhet i mundur në sajë të teknologjisë dhe aparaturave bashkëkohore që kjo klinikë disponon, si dhe në sajë të profesionalizmit dhe cilësisë së punës që ofrohet nga mjeku stomatolog dhe me shumë eksperiencë i kësaj klinike. </p>
        </div>
       </div>
       <div class="col-12 col-md-5" id="mjeku">
        <img src="{% static 'images/kryesore.jpg' %}" >
    </div>
    </div>
</div>

{% endblock %}