<!DOCTYPE html>
{% load static %}
<footer>
    <div class="container my-5">
      <div class="row">
        <div class="col-12 col-md-5">
          <div class="row">
            <div class="col-2"> 
              <img src="{% static 'images/logofooter.png' %}" width="130" height="130" alt="" object-fit="cover" >
            </div>
            <div class="col-2"> 
              <!-- <h4>Dentalien</h4> -->
            </div>
            <div class="row">
              <p>Dentalien, me në krye Mjek Stomatolog, Kirurg OMF Gramos Shehu, ofron trajtime në fusha të ndryshme të dentistrisë. Në klinikën tonë mund të fitoni buzëqeshjen që gjithmonë keni ëndërruar.</p>
    
            </div>
          </div>
          </div>
        <div class="col-12 col-md-3 ft listfoot" >
          <h4>Sherbimet</h4>
          <ul>
            <li> Implante dentare</a></li>
            <li> Kirurgji orale</a></li>
            <li> Protetike/Terapi</a></li>
            <li> Ortodonci</a></li>
            <li> Stomatologji Estetike</a></li>
            <li> Trajtimi i femijeve</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4 ft listfoot">
          <h4>Kontakte</h4>
          <ul>
            <li>Sheshi Musa Fratari, Kelcyre, Shqiperi</li>
            <li>gramosshehu2@gmail.com</li>
            <li>+355 69 918 94 49</li>
            <li>klinikadentareDentalien</li>
          </ul>
        </div>
      </div>
    </div>
    </footer>
    <!--fund footeri-->
    <div class="container-fluid ">
        <div class="row">
          <p>Copyright © 2022. Dentalien - Created by Ardi Ajazi</p>
        
      </div>
    </div>